# Copyright (C) Daniel Stenberg, <daniel@haxx.se>, et al.
#
# SPDX-License-Identifier: curl

lib/curl_config.h
lib/libcurl.vers
lib/stamp-h1
lib/curl/Makefile
lib/curl/config.log
lib/curl/config.status
lib/curl/curl-config
lib/curl/docs/cmdline-opts/Makefile
lib/curl/docs/examples/Makefile
lib/curl/docs/libcurl/Makefile
lib/curl/docs/libcurl/opts/Makefile
lib/curl/include/Makefile
lib/curl/include/curl/Makefile
lib/curl/libcurl.pc
tests/configurehelp.pm

*.asc
*.dll
*.exe
*.exp
*.la
*.lib
*.lo
*.o
*.obj
*.pdb
*.pyc
*~
.*.sw?
.cproject
.deps
.dirstamp
.libs
.project
.settings
/.vs
/bld/
/build/
/builds/
/stats/
__pycache__
CHANGES.dist
Debug
INSTALL
Makefile
Makefile.in
Release
TAGS
aclocal.m4
aclocal.m4.bak
autom4te.cache
compile
config.cache
config.guess
config.log
config.status
config.sub
configure
curl-*.tar.bz2
curl-*.tar.gz
curl-*.tar.xz
curl-*.zip
curl-config
depcomp
install-sh
libcurl.pc
libtool
ltmain.sh
missing
mkinstalldirs
tags
test-driver
scripts/_curl
scripts/curl.fish
curl_fuzzer
curl_fuzzer_seed_corpus.zip
libstandaloneengine.a
tests/string
tests/config
